 <!-- head -->
 <%- include('partials/head') %>
 <!-- /head -->


  <body class="body-home">
 


    <div class="home-container">

        <!-- header -->
          <%- include('partials/header') %>
        <!-- /header -->




        <main class="home__main">
                  
            <!-- slider -->
            <%- include('partials/slider') %>
            <!-- /slider -->
            
             <!-- quienes somos -->
             <%- include('quienessomos') %>
             <!-- /quienes somos -->

          c
           
  


        </main>



        <!-- footer -->
          <%- include('partials/footer') %>
        <!-- /footer -->
    </div>

    <script src="/javascripts/slider.js"></script>

  </body>

